.allblogscontentwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 2rem;
    position: relative;
}
.allblogspageheading{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem; /* 112.5% */
}
.allblogsgridboxstyling{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.71875rem 1.0625rem 2.65625rem 1.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.78);
    background: #0C0C0C;
}
.allblogsimagesectionbox{
    width: 15.125rem;
    height: 15.125rem;
}
.allblogsblogimage{
    height: 100%;
    width:  100%;
}
@media (max-width: 1300px){
    .allblogspageheading{
        font-size: 3.5rem;
    }
}
@media (max-width: 700px){
    .allblogspageheading{
        font-size: 3rem;
    }
}
@media (max-width: 500px){
    .allblogspageheading{
        font-size: 2.5rem;
    }
}