.web3marketingcontentwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 5rem;
    background-image: url(../../../../Images/web3marketingbgvector.png);
    /* background-image: url(../../../../Images/web3radialvector.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    position: relative;
}
.web3marketingellipse1{
    position: absolute;
    bottom: 2%;
    right: 10%;
    z-index: -5;
}
.web3marketingheading{
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
}
.web3marketingsection1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.contentsection1{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 47.5%;
}
.imagewrap1{
    width: 50%;
    display: flex;
    align-items: right;
    justify-content: right;
}
.image1wrap2{
    width: 50%;
    display: flex;
    justify-content: left;
}
.contentpart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.web3marketingleftsubheading{
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.875rem; /* 153.333% */
}
.web3marketingleftsubdescription{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.04rem;
}
.web3marketingleftmaindescription{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.05rem;
}
.image1wrap{
    width: 80%;
}
.web3marketingrightheading{
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 2.875rem; /* 153.333% */
}
.rightboxgridstyling{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.web3marketingrightsubheading{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 140% */
}
.web3marketingrightsubdescription{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.04rem;
}

@media (max-width: 1000px){
    /* .web3marketingcontentwrap{
        background-image: url(../../../../Images/web3marketingbgvectortablet.png);
    } */
    .web3marketingheading{
        font-size: 2.5rem;
    }
    .web3marketingsection1{
        flex-direction: column-reverse;
    }
    .contentsection1{
        justify-content: center;
        align-items: center;
    }
    .contentpart{
        justify-content: center;
        align-items: center;
    }
    .web3marketingleftsubdescription{
        text-align: center;
    }
    .web3marketingleftmaindescription{
        text-align: center;
    }
    .web3marketingsection2{
        flex-direction: column;
    }
    .web3marketingrightheading{
        text-align: center;
    }
    .contentsection1{
        
        width: 100%;
    }
    .imagewrap1{
        width: 100%;
        justify-content: center;
    }
    .image1wrap2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 700px){
    /* .web3marketingcontentwrap{
        background-image: url(../../../../Images/web3marketingbgvectormobile.png);
    } */
    .web3marketingheading{
        font-size: 1.875rem;
    }
   
    .web3marketingellipse1{
        display: none;
    }
    .web3marketingleftsubheading{
        font-size: 1.5625rem;
        text-align: center;
    }
    .web3marketingleftsubdescription{
        font-size: 0.875rem;
        text-align: center;
    }
    .web3marketingleftmaindescription{
        font-size: 1rem;
    }
    .web3marketingrightheading{
        font-size: 1.5625rem;
        text-align: center;
    }
    .web3marketingrightsubheading{
        font-size: 1.125rem;
        text-align: center;
    }
    .web3marketingrightsubdescription{
        font-size: 0.875rem;
        text-align: center;
    }
}